@import '../../modules/colors';

.accessClipboard {
	display: flex;
	flex-flow: column;
	justify-content: center;
	.topElement {
		height: 20%;
	}
	.bottomElement {
		height: 100%;
		width: 100%;
		background: url('../../images/image-devices.png') no-repeat center;
	}
}
