@media only screen and (max-width: 767px) {
	button {
		display: block;
		width: 80vw;
		&:first-child {
			margin-bottom: 20px;
		}
	}

	.headerText {
		width: 90%;
		h1 {
			font-size: 1.9em;
		}
	}

	section {
		height: 100%;
	}

	.topElement {
		width: 90%;
	}

	.keepTrack {
		.bottomContent {
			.rightElement,
			.leftElement {
				width: 80%;
				text-align: center;
			}

			.leftElement {
				background-position-x: center;
				margin: 0 auto;
				flex-basis: 100%;
				flex-shrink: 0;
			}
		}
	}

	.accessClipboard {
		.bottomElement {
			background-size: contain;
			height: 100%;
		}
	}
}
