@media only screen and (max-width: 767px) {
	button {
		display: block;
		width: 80vw;
		&:first-child {
			margin-bottom: 20px;
		}
	}

	.headerText {
		width: 90%;
		h1 {
			font-size: 1.9em;
		}
	}

	.topElement {
		width: 90%;
	}
}
