@import '../../modules/colors.scss';

header {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 77vh;
	background-image: url('../../images/bg-header-desktop.png');
	background-size: contain;
	background-repeat: no-repeat;

	div {
		margin: 23px 0;
	}

	h1 {
		font-size: 2.5em;
	}

	.caption {
		font-size: 1.09em;
		margin-top: 18px;
		letter-spacing: 0.017em;
	}
}

button {
	width: 212px;
	height: 53px;
	border: none;
	margin: 0 7px;
	border-radius: 40px;
	color: #fff;
	font-size: 0.9em;
	letter-spacing: 0.6px;
}

.headerText {
	width: 50%;
	text-align: center;
}

.dl-ios {
	background-color: $strongCyan;
	box-shadow: 0px 5px 10px #26baa45c;
}

.dl-mac {
	background-color: $lightBlue;
	box-shadow: 0px 5px 10px #6173ff52;
}

@media only screen and (max-width: 767px) {
	button {
		display: block;
		width: 80vw;
		&:first-child {
			margin-bottom: 20px;
		}
	}
}
