@import '../../modules/colors';

footer {
	display: flex;
	background-color: #f0f3f5;
	color: $grayishBlue;
	padding: 30px 160px;
	width: 100%;
	flex-wrap: wrap;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		display: flex;
	}

	div {
		display: flex;
		align-content: center;
	}

	.firstColumn {
		width: 25%;
	}

	.secondColumn {
		flex-wrap: wrap;

		ul {
			display: block;
			margin-right: 60px;
			li {
				padding: 10px;
			}
		}
	}

	.thirdColumn {
		width: 25%;
		align-items: center;
		justify-content: flex-end;
	}
}
