@import '../../modules/colors';

.download {
	flex-flow: column;
	height: 450px;
	.bottomElement {
		align-self: center;
		button {
			height: 53px;
			border: none;
			margin: 0 7px;
			border-radius: 40px;
			color: #fff;
			font-size: 0.9em;
			letter-spacing: 0.6px;
			background-color: $lightBlue;
			&:first-child {
				background-color: $strongCyan;
			}
		}
	}
}
