@import '../../modules/colors';

.supercharge {
	flex-flow: column;

	div {
		display: flex;
		height: 33%;
		margin: 0 auto;
		&.topElement {
			flex-flow: column;
		}
	}
}

.card {
	flex-flow: column;
	text-align: center;
	margin: 0 20px;

	img {
		margin-bottom: 45px;
	}

	.caption {
		width: 400px;
	}
}
