@import '../../modules/colors';

.supercharge {
	div {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		&.topElement {
			flex-flow: column;
			align-self: flex-start;
			max-height: 100px;
		}

		&.thirdElement {
			max-height: 100px;

			.logoContainer {
				align-items: flex-start;
				margin: 0 50px;
			}
		}
	}
}

.card {
	flex-flow: column;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 20px;

	img {
		margin-bottom: 45px;
	}

	.caption {
		width: 400px;
	}
}
