@import '../../modules/colors';

.supercharge {
	flex-flow: column;

	div {
		display: flex;
		margin: 0 auto;
		&.topElement {
			flex-flow: column;
			height: 33%;
		}

		&.thirdElement {
			height: auto;
			img {
				width: auto;
				margin: 0;
			}
		}
	}
}

.card {
	flex-flow: column;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 20px;

	img {
		margin-bottom: 45px;
	}

	.caption {
		width: 400px;
	}
}
